<% @title = "メモ一覧" %>

<h1>メモ一覧</h1>
<a href="/memos/new" class="new-memo-button">新規作成</a>
<ul class="memo-list">
  <% @memos.each do |memo| %>
    <li>
      <a href="/memos/<%= h(memo['id']) %>"><%= h(memo['title']) %></a>
    </li>
  <% end %>
</ul>
