<h1><%= h(@title) %></h1>
<form action="/memos" method="POST">
  <p>タイトル:</p>
  <input type="text" name="title">
  <p>内容:</p>
  <textarea name="content"></textarea>
  <div class="button-group">
    <button type="submit">保存</button>
    <a href="/memos">戻る</a>
  </div>
</form>
